.card-create .card-body{

    font-family: 'AvantGarde';
    border: none;
    margin-bottom: 40px;
}
.card-create .form-create {
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-family: 'Jost-Regular', sans-serif;
    text-align: left;
    font-size: 17px;
    gap: 10px;
    border: none;
 
}
.card-create .form-create label{
    font-family: 'Jost-Bold', sans-serif;
    color: rgb(40, 38, 38);
}
.card-create .card-header{
    font-size: 20px;
    font-weight: bold;
    color: rgb(244, 239, 239);
    background-color: rgb(40, 38, 38);
    margin-bottom: 20px;
    font-family: 'AvantGarde';
    padding: 12px;
    border: none;
}
.card-create{
    border: none;
}